* {
  margin: 0;
}

.Block {
  position: relative;
  background-color: #76ABAE;
}

.Title {
  position: absolute;
  z-index: 1;
  color: black;
}

.socials img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.socials img:hover {
  opacity: 0.8;
}

.Introduction {
  display: flex;
  z-index: 1;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  color: rgb(197, 35, 35);
  position: relative;
  width: 100%;
  left: 10%;
  font-size: 1.5rem;
  background: linear-gradient(to right, #c00c0c, #e2a92d, #c00c0c); 
  -webkit-text-fill-color: transparent; 
  background-clip: text; 
}

canvas {
  position: absolute;
}

.Introduction h1 {
  margin-bottom: 1rem;
}

.logo {
  position: absolute;
  left: 60%;
  top: 27%;
  border-radius: 50%;
  height: 375px;
  width: 375px;
  box-shadow: 15px 15px;
}

.logo:hover {
  opacity: 0.8;
}

.AboutMe {
  background-color: #31363F;
}

.AboutMe .title {
  display: flex;
  align-items: center;
}

.Description {
  background-color: grey;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
}

.Skills {
  background-color: red;
}

.Skills .title {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slides {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  scroll-snap-align: start;
}