body {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: beige;
}

.PageTitle {
    color: red;
    margin: auto;
    padding: 10px;
    font-size: 30px;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.projectform {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Projects {
    width: 180px;
    height: 70px;
    background-color: powderblue;
}

.SocialLinks {
    background-color: powderblue;
    height: 50px;
    width: 150px;
}

.tictactoeButton {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: beige;
    border: 0;
}

a:visited {
    color: black;
}