.Canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 75vh;
}

.nsc {
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: powderblue;
    width: 75vmin;
    height: 70vmin;
}

.nsc h1 {
    font-size: 3vmin;
}

.toConvert {
    width: 50vmin;
    height: 5vmin;
    font-size: 3vmin;
}

input {
    width: 20vmin;
    height: 5vmin;
    font-size: 3vmin;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.result {
    word-wrap: break-word;
    text-align: center;
    width: 60vmin;
}