.PageTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: brown;
    margin: auto;
    width: 500px;
    font-size: 30px;
}

.Box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.TicTacToe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: black;
}

.Block {
    background-color: powderblue;
    width: 75px;
    height: 75px;
    margin: 0;
}

.Restart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.restartbutton {
    border: 0;
    background-color: beige;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.Winner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.h1Winner {
  font-size: 30px;
}