body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: beige;
}

.PageTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: brown;
    margin: auto;
    width: 500px;
    font-size: 30px;
}

.Box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.TicTacToe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: black;
}

.Block {
    background-color: powderblue;
    width: 75px;
    height: 75px;
    margin: 0;
}

.Restart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.restartbutton {
    border: 0;
    background-color: beige;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

/* Projects Dropdown */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
    background-color: #04AA6D;
}