body {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 15px;
}

.PageTitle {
    display: flex;
    justify-content: center;
    color: brown;
    font-size: 5vmin;
}

.Box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.TicTacToe {
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 45vmin;
    height: 45vmin;
    background-color: black;
}

.TicTacToe > .Block {
    border-radius: 5%;
    background-color: powderblue;
    width: 31%;
    height: 31%;
}

img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.Restart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vmin;
}

.restartbutton {
    border: 0;
    padding: 0;
    background-color: beige;
    font-size: 6vmin;
    font-family: 'Times New Roman', Times, serif;
}

.Winner {
    border-radius: 10%;
    position: absolute;
    width: 15vw;
    height: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.h1Winner {
    display: none;
    font-size: calc(16px + 0.390625vw);
}