.SocialLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: last baseline;
    height: 90vh;
    width: 100vw;
}

img {
    margin: 5px;
    width: 75px;
    height: 75px;
}

img:hover {
    opacity: 0.5;
}